@inherits LayoutComponentBase
@inject NavigationManager Navigation
@rendermode InteractiveServer

<div class="page">
    
    
    <main>
        
        <div class="top-row">
            <div class="container-fluid">
                <a class="navbar-brand px-3 border rounded-3" href="">TMDB Blazor</a>
                <form class="d-flex" role="search" @onsubmit="PerformSearch">
                    <input id="search-field" class="form-control me-2" type="search" placeholder="Search for movies..." @bind="SearchQuery" aria-label="Search">
                    <button id="search-button" class="btn btn-outline-secondary" type="submit"><i class="bi bi-search"></i></button>
                </form>
            </div>
        </div>

        <div id="nav" class="sub-row">
            <div class="container-fluid">

                <NavLink class="nav-link" href="/movies" Match="NavLinkMatch.All">
                    <span class="oi oi-film" aria-hidden="true"></span> Popular
                </NavLink>

                <NavLink class="nav-link" href="/upcoming" Match="NavLinkMatch.All">
                    <span class="oi oi-film" aria-hidden="true"></span> Upcoming
                </NavLink>

                <NavLink class="nav-link" href="/watchlist" Match="NavLinkMatch.All">
                    <span class="oi oi-film" aria-hidden="true"></span> My Watchlist
                </NavLink>

            </div>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {
    private string SearchQuery { get; set; } = string.Empty;

    private void PerformSearch()
    {
        if (!string.IsNullOrWhiteSpace(SearchQuery))
        {
            Navigation.NavigateTo($"/search?query={SearchQuery}");
        }
    }
}
