@page "/"

<PageTitle>Home</PageTitle>

<h1>TMDB Blazor Web Server</h1>

<div class="container-fluid card">
    <p class="word">
        Welcome to my TMDB Blazor Project. Feel free to browse movies.

    </p>

    <NavLink class="home btn btn-primary" href="/movies">Browse Movies</NavLink>

</div>

z